.post{
  padding:35px;
	background:#FFFFFF;
	margin-bottom:15px;
	position:relative;
	overflow:hidden;
}
.post-text{
  font-size: 17px;
  color: #444443;
  margin:30px 0;
}
.post-time{
  font-size: 0.8em;
  color: #959595;
}
.post-writer{
  text-align: right;
  padding-right: 1.5em;
}
.post a{
  color: #959595;
}
