body{
  min-height: 700px;
  color: #555;
  font-size: 14px;
	line-height:1.75em;
	background:#ebebeb;
	position:relative;
  font-family: Helvetica, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
}
.header{
  height: 20em;
  background-color: #FFFFFF;
}
.top-nav{
  padding-top: 10px;
  padding-bottom: 2px;
  border-top: 2px solid #EBEBEB;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}
.top-nav a{
  color:#505050;
}
.top-nav a:hover{
  text-decoration:none;
  color: #777;
}
.copyright{
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #5B4947;
  text-align: center;
  padding-top:1.2em;
  color: #999;
  bottom: 0;
}
.copyright a{
  color: #BD4B49;
}
.nav{
  padding: 0.2em 0.5em;
  position: fixed;
  left: 2em;
  top: 2em;
  width: auto;
}
.nav a{
  color: #555;
}
.nav a:hover{
  text-decoration: none;
}
.nav-query{
  position: fixed;
  right: 1em;
  top:3em;
  width: auto;
}
.nav-query .form-control{
  display: inline-block;
  width:10em;
  margin-right: 0;
}
nav-query form{
  display: inline;
}

.nav-ul{
  display: inline-block;
  padding-left: 0.3em;
}
ul.dropdown-menu{
  min-width: 80px;
}
.lg{
  padding: 10px 5px;
  font-size: 20px;
  margin-bottom: -10px;
}
.filler{
  height: 100px;
}
.my-pagination{
  display: block;
  bottom: 100px;
  margin: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top:1.2em;
}
.my-pagination a{
  color:#333;
}
