{% macro pagination_widget(pagination, endpoint, fragment='') %}
<nav>
<ul class="pager"> 
    <li {% if not pagination.has_prev %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
           <span aria-hidden="true"> &laquo;</span> 前一页
        </a>
    </li>
    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">后一页
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>
</nav>

{% endmacro %}
