{% extends "new_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
	{{super()}}
	<link href={{ url_for('static',filename='item.css') }} rel="stylesheet">
	<script type="text/javascript">
	function del(){
		if(!confirm("确认要删除？")){
			window.event.returnValue = false;
		}
	}
	</script>
{% endblock %}

{% block topnav %}
<div class="top-nav">
<ul class="list-inline">
	<li role="presentation"><a href={{url_for('main.category',cat_id=0)}}>全部</a></li>
	{% for cat in categories %}
		<li>|</li>
		<li role="presentation"><a href={{url_for('main.category',cat_id=cat.id)}}>{{cat.name}}</a></li>
	{% endfor %}
</ul>
</div>
{% endblock %}

{%block nav_extent%}
 {% if current_user.is_authenticated %}
<div class="nav-ul lg">
	<div class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href={{url_for('main.new_blog')}}>新博客</a></li>
			<li><a href={{url_for('main.new_cat')}}>新目录</a></li>
		</ul>
	</div>
</div>
{% endif %}
{%endblock%}

{% block content %}
	{{super()}}
	{% if blogs %}
	{% for blog in blogs %}
	<section>
		<div class="container">
			<div class="row">
				<main class="col-md-8 col-md-offset-2">
					<article class="post blogs-post">
						<span class="round-date">
							<span class="month">{{blog.timestamp.month}}月</span>
							<span class="day">{{blog.timestamp.day}}</span>
						</span>
						<header class="post-head">
								<h1>{{blog.title}}</h1>
							<p class="post-time">
								{{blog.timestamp.year}}年{{blog.timestamp.month}}月{{blog.timestamp.day}}日 {{blog.timestamp.hour}}时
							</p>
							<div class="post-label">
								<a href={{url_for('main.category',cat_id=blog.category.id)}}>{{blog.category.name}}</a>
							</div>
						</header>
						<div class="post-text">
							{%if single %}
								{% if blog.text_html %}
								<p class="post-text">{{blog.text_html | safe}}</p>
								{% else %}
								<p class="post-text">{{blog.text}}</p>
								{% endif %}
							{% else %}
								{% if blog.text_html %}
									<p class="post-text">{{blog.text_html[:600] | safe}}</p>
									<p><a  style="color:#337ab7;text-decoration:none;" href={{url_for('main.article',blog_id=blog.id)}}>继续阅读</a></p>
								{% else %}
									<p class="post-text">{{blog.text}}</p>
								{% endif %}
							{%endif%}
						</div>
						<div class="post-meta">
							<div class="post-extent">
								<ul class="list-inline">
									 {% if current_user.is_authenticated %}
									<li>
										<a href={{url_for('main.edit_blog',blog_id=blog.id)}}>
											<span class="icon-edit icon-large" title="编辑"></span>
										</a>
									</li>
									<li>•</li>
									<li>
										{% if pagination %}
										<a href={{url_for('main.del_blog',blog_id=blog.id,page=pagination.page)}} onclick="del()">
											<span class="glyphicon glyphicon-trash" title="删除"></span>
										</a>
										{% else %}
										<a href={{url_for('main.del_blog',blog_id=blog.id)}} onclick="del()">
											<span class="glyphicon glyphicon-trash" title="删除"></span>
										</a>
										{% endif %}
									</li>
									{% endif %}
							</div>
						</div>
					</article>
				</main>
			</div>
		</div>
	</section>
	{% if single %}
	<section>
		<div class="container">
			<div class="row">
				<main class="col-md-8 col-md-offset-2">
					<article class="post blogs-post">
											<!-- 多说评论框 start -->
						<div class="ds-thread" data-thread-key={{blog.id}} data-title={{blog.title}} data-url={{url_for('main.article',blog_id=blog.id , _external=True)}}></div>
					<!-- 多说评论框 end -->
					<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
					<script type="text/javascript">
					var duoshuoQuery = {short_name:"sixgodoo"};
						(function() {
							var ds = document.createElement('script');
							ds.type = 'text/javascript';ds.async = true;
							ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
							ds.charset = 'UTF-8';
							(document.getElementsByTagName('head')[0]
							 || document.getElementsByTagName('body')[0]).appendChild(ds);
						})();
						</script>
					<!-- 多说公共JS代码 end -->
					</article>
				</main>
			</div>
		</div>
	</section>
	{% endif %}
	{% endfor %}
	{% endif %}

{% endblock %}

{% block page %}
{% if pagination %}
<div class="pagination my-pagination">
	<div class="container">
		{{macros.pagination_widget(pagination,'main.category',cat_id=cat_id)}}
	</div>
</div>
{% endif %}
{% endblock %}
