{% extends "base.html" %}
{% block title %}Blogs{% endblock %}
{% block body %}
<div class="page-header row">
	<div class="col-md-4 col-md-offset-3"><h1>Sixgodoo</h1></div>
</div>

<div class="center-block row">
	<div class="col-md-6 col-md-offset-3">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation"><a href={{url_for('main.index')}}><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
			<li role="presentation"><a href={{url_for('main.daily')}}>日常</a></li>
			<li role="presentation" class="dropdown active">
	  		<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">博客<span class="caret"></span></a>
  				<ul class="dropdown-menu">
					<li role="presentation"><a href={{url_for('main.category',cat_id=0)}}>全部</a></li>
					{% for cat in categories %}
					<li role="presentation"><a href={{url_for('main.category',cat_id=cat.id)}}>{{cat.name}}</a></li>
					{% endfor %}
  				</ul>
			<li role="presentation"><a href={{url_for('main.about')}}>关于</a></li>
			<li role="presentation" class="dropdown">
	  		<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
  				<ul class="dropdown-menu">
    				<li><a href={{url_for('main.new_blog')}}>新博客</a></li>
    				<li><a href={{url_for('main.new_cat')}}>新目录</a></li>
    				
  				</ul>
			</ul>
	</div>
</div>
<div class="row">
<div class="col-md-6 col-md-offset-3">
	<article>
		<header class="blog-header"><h2>{{ blog.title }}</a></h2></header>
		<div class="blog-header-sub"><p>{{moment(blog.timestamp).format('LLL') }}</p>
		<p><span class="label label-info">{{ blog.category.name }}</span></p>
		</div>
		<div class="blog-main" style="padding-top:10px;">
			<p>{{blog.text }}</p>
		</div>
	</article>
<d>
</div>
{% endblock %}
