{% extends "new_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
	{{super()}}
	<link href={{ url_for('static',filename='daily.css') }} rel="stylesheet">
{% endblock %}
{% block topnav %}
<div class="top-nav">
<ul class="list-inline">
	<li role="presentation"><a href={{url_for('main.daily')}}>全部</a></li>
	<li>|</li>
	<li role="presentation"><a href={{url_for('main.daily_req',req_id=0)}}>未完成</a></li>
	<li>|</li>
	<li role="presentation"><a href={{url_for('main.daily_req',req_id=1)}}>已完成</a></li>
</ul>
</div>
{% endblock %}
{%block nav_extent%}
 {% if current_user.is_authenticated %}
<div class="nav-ul lg">
	<div class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href={{url_for('main.new_item')}}>新备忘</a></li>
		<li><a href={{url_for('main.new_tag')}}>新标签</a></li>
	</ul>
</div>
</div>
{% endif %}
{%endblock%}

{% block content %}
	{{super()}}
	<div class="main">
	{% if items %}
	{% for item in items %}
	<article {% if item.flags %}class="post post-ok"{% else %}class="post post-not"{%endif%}>
		<header class="post-text">
			<p>
				<a href={{url_for('main.tag',tag_id=item.tag.id)}}>{{item.tag.name}}</a>
				<a href={{url_for('main.item',item_id=item.id)}}><i style="font-size:14px;">{{item.name}}</i></a>
			</p>
			<p>{{item.text[:44]}}
				{% if item.text[45] %}
				...&nbsp; <a href={{url_for('main.item',item_id=item.id)}}>全部</a>
				{% endif %}
			</p>
					<p class="post-time">
						{{item.timestamp.year}}-{{item.timestamp.month}}-{{item.timestamp.day}}，{{item.timestamp.hour}}:{{item.timestamp.minute}}
					</p>
					 {% if current_user.is_authenticated %}
					<div class="post-edit">
						<a href={{url_for('main.edit_item',item_id=item.id)}}>
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</div>
					{% endif %}
				</header>
</article>
{% endfor %}
{% endif %}
</div>
<div class="container">
	<div class="nav-query">
		<form action="" method="post" name="item_query">
				{{form.hidden_tag()}}
				{{form.item_name(class="form-control",placeholder="查询一下")}}
				<button class="btn btn-default" type="submit" style="inline-block">
					<span class="glyphicon glyphicon-search"></span>
				</button>
		</form>
	</div>
</div>
{% endblock %}

{% block page %}
{% if pagination %}
<div class="pagination my-pagination">
	<div class="container">
		{{macros.pagination_widget(pagination,'main.daily')}}
	</div>
</div>
{% endif %}
{% endblock %}
