{% extends "new_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%block nav_extent%}
<div class="nav-ul lg">
	<div class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
		<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
	</a>
	<ul class="dropdown-menu">
		<li role="presentation"><a href={{url_for('main.daily')}}>全部</a></li>
		<li role="presentation"><a href={{url_for('main.daily_req',req_id=0)}}>未完成</a></li>
		<li role="presentation"><a href={{url_for('main.daily_req',req_id=1)}}>已完成</a></li>
	</ul>
	</div>
</div>
<div class="nav-ul lg">
	<div class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href={{url_for('main.new_item')}}>新备忘</a></li>
		<li><a href={{url_for('main.new_tag')}}>新标签</a></li>
	</ul>
</div>
</div>
{%endblock%}

{% block content %}
	{{super()}}
	{% if items %}
	{% for item in items %}
	<section>
		<div class="container">
			<div class="row">
				<main class="col-md-8 col-md-offset-2">
					<article class="post">
						<header class="post-text">
							<p>{{item.text}}</p>
							<p class="post-time">
								{{item.timestamp.year}}年{{item.timestamp.month}}月{{item.timestamp.day}}日，{{item.timestamp.hour}}时
							</p>
						</header>
						<div class="post-meta">
							<a href={{url_for('main.item',item_id=item.id)}}>
								{{ item.name }}
							</a>
							<div class="post-extent">
								<ul class="list-inline">
									<li>•</li>
									<li>
										<span class="glyphicon glyphicon-tag"></span>
										<a href={{url_for('main.tag',tag_id=item.tag.id)}}>{{item.tag.name}}</a>
									</li>
									<li>•</li>
									<li>
										<a href={{url_for('main.edit_item',item_id=item.id)}}>
											<span class="glyphicon glyphicon-pencil"></span>
										</a>
									</li>
									<li>•</li>
									<li>
										{% if item.flags %}
										<span class="glyphicon glyphicon-ok" style="color:#F16A6A;"></span>
										{% else %}
										<span class="glyphicon glyphicon-remove" style="color:#EA931C"></span>
										{% endif %}
									</li>
							</div>
						</div>
					</article>
				</main>
			</div>
		</div>
	</section>
	{% endfor %}
	{% endif %}

<div class="container">
	<div class="nav-query">
		<form action="" method="post" name="item_query">
				{{form.hidden_tag()}}
				{{form.item_name(class="form-control",placeholder="查询一下")}}
				<button class="btn btn-default" type="submit" style="inline-block">
					<span class="glyphicon glyphicon-search"></span>
				</button>
		</form>
	</div>
</div>
{% endblock %}

{% block page %}
{% if pagination %}
<div class="pagination my-pagination">
	<div class="container">
		{{macros.pagination_widget(pagination,'main.daily')}}
	</div>
</div>
{% endif %}
{% endblock %}
