{% extends "blogs.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block topnav %}
{% endblock %}
{%block nav_extent%}
{% endblock %}
{% block content %}
<section style="margin-top:30px;">
	<div class="container">
		<div class="row">
			<main class="col-md-8 col-md-offset-2">
				<article class="post">
					<div class="index-text post-text">
						<i class="icon-quote-left icon-4x pull-left"></i>
						{{fan_para.text}}
					</div>
          <div class="index-writer post-writer">
						<i class="icon-double-angle-left icon-2x"></i>
            <h3>{{fan_para.name}}</h3>
						<i class="icon-double-angle-right icon-2x"></i>
          </div>
				</article>
			</main>
		</div>
	</div>
</section>
{% endblock %}
