{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}羊羽-{{title}}{% endblock %}
{% import "_macros.html" as macros %}

{% block head %}
  {{super()}}
	<link href={{ url_for('static',filename='new_base.css') }} rel="stylesheet">
{% endblock %}

{% block body %}
<header class="header" >
  <div class="container-fluid">
    <img src={{url_for('static',filename='header1_meitu_1.jpg')}}>
  </div>
</header>
{% block topnav %}{% endblock %}
{% block content %}{% endblock %}
{% block page %}{% endblock %}
<div class="filler">
  <div class="container">
  </div>
</div>
<div class="copyright">
  <div class="container">
    <span>Copyright &copy; <a href={{url_for('main.index')}}>Sixgodoo</a></span>
  </div>
</div>
<div class="container">
  <div class="nav">
      <a href={{url_for('main.index')}} id="back-to-top" class="lg">
        <span class="glyphicon glyphicon-home">
        </span>
        <!-- <i class="icon-home"></i>-->
      </a>
      <div class="nav-ul lg">
        <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu">
          <li role="presentation"><a href={{url_for('main.daily')}}>日常</a></li>
          <li role="presentation"><a href={{url_for('main.category',cat_id=0)}}>博客</a></li>
          <li role="presentation"><a href={{url_for('main.plans')}}>计划</a></li>
          {% if current_user.is_authenticated %}
          <li role="presentation"><a href={{url_for('main.upload')}}>上传</a></li>
          {% endif %}
          <li role="separator" class="divider"></li>
          <li role="presentation"><a href={{url_for('main.about')}}>关于</a></li>
        </ul>
      </div>
      </div>
      {% if current_user.is_authenticated %}
      <a href={{url_for('auth.logout')}} class="lg">
        <span class="glyphicon glyphicon-ice-lolly-tasted" title="登出">
        </span>
        <!--<i class="icon-signout icon-large"></i>-->
      </a>
      {% else %}
      <a href={{url_for('auth.login')}} class="lg">
        <span class="glyphicon glyphicon-ice-lolly" title="登陆">
        </span>
        <!--<i class="icon-user icon-large"></i>-->
      </a>
      {% endif %}
      {% block nav_extent %}{% endblock %}
  </div>
</div>
{% endblock %}
