{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Navigation{% endblock %}
{% block body %}
<div class="page-header">
<h1>Sixgodoo</h1>
</div>

<ul class="nav nav-tabs" role="tablist">
	<li role="presentation"><a href={{url_for('main.index')}}><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
	<li role="presentation" class="active"><a href={{url_for('main.my_navi')}}>日常</a></li>
	<li role="presentation"><a href={{url_for('main.blogs')}}>博客</a></li>
	<li role="presentation"><a href={{url_for('main.about')}}>关于</a></li>
	<li role="presentation" class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href={{url_for('main.new_item')}}>新备忘</a></li>
    <li><a href={{url_for('main.new_tag')}}>新标签</a></li>
  </ul>
</ul>


{{ wtf.quick_form(form) }}
{% if items %}
{% for item in items %}
<p>{{ item.name }}</p>
<p>{{ item.text }}</p>
<p>{{ item.timestamp }}</p>
<p>{{ item.tag.name }}</p>
{% endfor %}
{% endif %}
{% endblock %}
