{% extends "item.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
	<section class="content-wrap">
		<div class="container">
			<div class="row">
				<main class="col-md-8 col-md-offset-2 main-content">
					<article class="post tag-https" style="padding:10%;">
							<form action="" method="post" name="new_item_form">
								{{form.hidden_tag()}}
								<div class="form-group">
    							<label for="new-item-name">标题</label>
    							<div>
										<p>{{form.name(class="form-control",id="new-item-name")}}</p>
									</div>
								</div>
                <div class="form-group">
                  <label for="new-item-text">新备忘</label>
                  <div>
                    <p>{{form.text(rows=5,class="form-control",id="new-item-text")}}</p>
                  </div>
                </div>
                <div class="form-group">
    							<label for="item-tag">标签</label>
    							<div>
										<p>{{form.tag_id(class="form-control",id="item-tag")}}</p>
									</div>
								</div>
                <ul class="list-inline">
									<li>{{form.flag(class="checkbox",id="new-item-flags")}}</li>
                    <li>已完成？</li>
                </ul>

								<p><input class="btn btn-default"type="submit" value="提交"></p>
							</form>
					</article>
				</main>
			</div>
		</div>
	</section>
{% endblock %}

{%block scripts%}
{{pagedown.include_pagedown()}}
{%endblock%}
