{% extends "base.html" %}
{% block title %}Sixgodoo{% endblock %}
{% block head%}
  	<link href={{ url_for('static',filename='cover.css') }} rel="stylesheet">
  	<style>
  	body{
  		background-image:url('/static/bg3.gif');
  		background-size:cover;
  	}
  	</style>
{% endblock %}
{% block body %}
				<div class="site-wrapper">
					<div class="site-wrapper-inner">
						<div class="cover-container">
							<div class="masthead clearfix">
								<div class="inner">
									<h3 class="masthead-brand">
									<a href={{url_for('main.index')}}>Sixgodoo</a></h3>						
									<nav>
										<ul class="nav masthead-nav">
											<li><a href={{url_for("main.daily")}}>日常</a></li>
											<li><a href={{url_for("main.category",cat_id=0)}}>博客</a></li>
											<li><a href={{url_for("main.about")}}>关于</a></li>
											</li>
										</ul>
									</nav>		
								</div>
							</div>
							<div class="inner cover">
								<p class="lead">{{fan_para.text}}
								</p>				
								<footer><p class="lead" style="text-align:right;">
							<<{{fan_para.name}}>>
								</p></footer>
							</div>
							<div class="mastfoot">
								<div class="inner">
									<p>
										<span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Sixgodoo，2016
									</p>								
								</div>
							</div>								
						</div>
					</div>
				</div>
{% endblock %}

