{% extends "blogs.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block topnav %}
{% endblock %}
{%block nav_extent%}
 {% if current_user.is_authenticated %}
 <a href={{url_for('main.new_plan')}} id="back-to-top" class="lg" title="新建计划">
 	<span class="glyphicon glyphicon-plus">
 	</span>
 	<!-- <i class="icon-home"></i>-->
 </a>
{% endif %}
{%endblock%}
{% block content %}
{% if plans %}
{% for plan in plans %}
<section style="margin-top:30px;">
		<div class="container">
			<div class="row">
				<main class="col-md-8 col-md-offset-2">
				<article class="post blogs-post">
					<span class="round-date">
						<span class="day" style="margin-top:15px;font-size:25px;">{{plan.count}}天</span>
					</span>
					<header class="post-head">
							<h1>{{plan.title}}</h1>
              <p class="post-time">
								{{plan.timestamp.year}}年{{plan.timestamp.month}}月{{plan.timestamp.day}}日 {{plan.timestamp.hour}}时
							</p>
					</header>
					<div style="display:flex;">
					<div class="plan-progress">
            {% for day in plan.days %}
              {% if day.flag %}
                <a class="icon-sign-blank" style="color:#44a340;" href={{url_for('main.day',day_id=day.id)}} title=第{{day.id_in_plan}}天></a>
              {% else %}
                <a class="icon-sign-blank" style="color:rgba(85, 85, 85, 0.53);" href={{url_for('main.day',day_id=day.id)}} title=第{{day.id_in_plan}}天></a>
              {% endif %}
            {% endfor %}
					</div>
				</div>
				<div class="post-text">
					<p>{{plan.des}}</p>
				</div>
        {% if current_user.is_authenticated %}
				<div class="post-extent">
				    <a href={{url_for('main.edit_plan',plan_id=plan.id)}}>
					     <span class="icon-edit icon-large" title="编辑"></span>
				    </a>
			  </div>
        {% endif %}
				</article>
			</main>
		</div>
	</div>
</section>
{% endfor %}
{% endif %}
{% endblock %}

{% block page %}
{% if pagination %}
<div class="pagination my-pagination">
	<div class="container">
		{{macros.pagination_widget(pagination,'main.plans')}}
	</div>
</div>
{% endif %}
{% endblock %}
