<!DOCTYPE HTML>
<html lang="zh-CN">
		<head>
			<meta charset="UTF-8"/>
			<meta http-equiv="X_UA_Compatible" content="IE=edge"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta name="description" content="sixgodoo's personal website"/>
			<meta name="author" content="Liu" />
			<link rel="icon" href="../static/icon.jpg")/>
			<title>Sixgodoo</title>
  			<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  			<!-- Custom styles for this template -->
    		<link href="../static/bootstrap/css/cover.css" rel="stylesheet">	
			<!--[if lt IE 9]>
				<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
				</script>
			<![endif]-->
			<style>
				article, aside, details, figcaption, figure, footer, header, hgroup,
				menu, nav, section
				{
					display: block;				
				}
			</style>
		</head>
		<body>
				<div class="site-wrapper">
					<div class="site-wrapper-inner">
						<div class="cover-container">
							<div class="masthead clearfix">
								<div class="inner">
									<h3 class="masthead-brand">Sixgodoo</h3>								
								</div>
							</div>
							<div class="inner cover">
								<p class="lead">每日一句
								</p>						
								<p class="lead">
									<a href="/my_navi" class="btn btn-lg btn-default">日常</a>
									<a href="/blogs" class="btn btn-lg btn-default">博客</a>
									<a href="/about" class="btn btn-lg btn-default">关于</a>
							</div>
							<div class="mastfoot">
								<div class="inner">
									<p>
										Sixgodoo's mainpage
										, by
										<a href="sixgodoo.com" >@sixgodoo</a>
									</p>								
								</div>
							</div>								
						</div>
					</div>
				</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</body>
</html>
